<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kindergarten.recipe.mapper.RecipeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kindergarten.recipe.entity.Recipe">
    <result column="id" property="id" />
        <result column="breakfast" property="breakfast" />
        <result column="lunch" property="lunch" />
        <result column="dinner" property="dinner" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        breakfast, lunch, dinner, name, sort
    </sql>

</mapper>
