<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kindergarten.datemanage.mapper.DateManageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kindergarten.datemanage.entity.DateManage">
    <result column="id" property="id" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="time" property="time" />
        <result column="course_id" property="courseId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        start_date, end_date, time, course_id
    </sql>

</mapper>
